## Basics of Python
Python is a high-level, general-purpose programming language. Its design philosopy emphasizes code resuability with the use of identation.

#### Features of python
- Simple syntax
- Easy to use
- Object oriented programming

The python scripts will have .py extension

`print()` is the most basic function of python, inside it we can put messages in single quotes or double quotes.

In [1]:
print('Hello World')
print("Hello World")

Hello World
Hello World

### Variables
A container for a value. Behaves as the value that it containes. Stored value can be reused. values can be of different types of data.

In [3]:
y = 21 # numbers, boolean etc
name = "Bro" # This is a string value (series of characters in double or single quotes)
print(name) # Print the value (variable used without quotes)

Bro

Also in the print() function we can combine two strings and print it like print("Hello"+name)

In [4]:
print("Hello " + name)

Hello Bro

type(name) -> will return the type of data type the value

In [5]:
print(type(name))

<class 'str'>

As long as two values are of same datatype we can combine them

In [7]:
first_name = "Bro"
last_name = "Code"
full_name = first_name + " " + last_name
print("Hello " + full_name)

Hello Bro Code

full_name is created by combining two variables to create a new variable.  
"+" is used to combine different strings which is called string concatenation.

- ***int*** - integer is a whole number.  
    Eg: `age = 21` -> should not be in quotes  
    On these values we are going to do the math operations like add, subtract etc.

    `age = age + 1` -> increment by 1  
    The short cut to increment and decrement is age+=1 and age-=1

    Type convertion is method used to convert from one type of data to another, to convert to string use `str()` function.

    ```python
    print("Your age is: "+str(age))
    ```

    We can't use "+" operation on a string and a number.

- ***float*** - floating point number (a decimal number)  
    Eg: height = 250.5

- ***boolean*** - true or false  
    Ex: `human = True`

### Multiple arguments
Allows us to assign multiple variables at the same time in one line of code value to a variable

In [8]:
name = "Bro"
age = 21

print(name)
print(age)

Bro
21

In [9]:
# Separated commas are used
name, age = "Bro", 21
print(name,age)

# To attach same value to multiple variables
a = b = c = d = 30

Bro 21